/*CSS style*/
body{
	width: 60%;
	margin: 2em auto;
	padding: 1em;
	border: .1em solid #eee;
	border-radius: .3em;
	box-shadow: 0 0 1em .3em #ddd;
}

div{
	color: #0e2f44;
	margin-bottom: 1em;
}

a{
	color: #1c6774;
	text-decoration:none;
}

a:hover{
	color: #2590FF;
	text-decoration: underline;
}

li{
	margin: .3em 0;
}

/*Header*/
#head{
	width: 100%;
	margin: .7em 0;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

/*Navigation*/
#nav{
	border-bottom: .1em solid #cccccc;
}

#nav ul{
	margin: 0;
	padding: .2em;
	list-style-type: none;
}

#nav li{
	display: inline;
	padding: 0 .6em;
}

#current{
	font-weight: bold;
}

/*Content*/
#webpages{

}

#email{

}
